<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="output_file" value="log_resultado.log" />
    <add key="path_file_contribuyentes" value="BD_SII" />
    <add key="url_sii" value="https://palena.sii.cl/cvc_cgi/dte/ee_empresa_rut" />
    <add key="xpath_tipo_documento" value="//body/center[2]/table[4]/tr[position()>1]/td[1]/font[@class='texto']" />
  </appSettings>
</configuration>